<div class="profile">
    <button class="profile__back"><img src="arrow-send.svg" alt="arrow"></button>
    <form class="profile__info">
        <div class="info__main">
            <div class="info__main__image">
                <img src="{{#if photo}}{{photo}}{{~else~}}profile-photo.svg{{/if}}" alt="photo">
                <div class="info__main__image--change-image">Поменять аватар</div>
            </div>
            <div class="info__main__name">{{name}}</div>
        </div>
        <div class="info__main__image__modal">
            <h2 class="image__modal__header">Изменить фото профиля</h2>
            {{{ avatarInput }}}
        </div>
        <div class="info__description">
            {{~#each profileDescription}}
                <div class="info__description__container">
                    {{{ this.input }}}
                    <p class="description__container__value">{{this.value}}</p>
                </div>
            {{/each}}
        </div>
        {{{ saveButton }}}
    </form>
</div>
