<form class="signin">
    <div class="signin__fields">
        <h1 class="signin__header">Регистрация</h1>
        {{{ mailInput }}}
        {{{ loginInput }}}
        {{{ firstNameInput }}}
        {{{ secondNamseInput }}}
        {{{ phoneInput }}}
        {{{ passwordInput }}}
        {{{ secondPassword }}}
    </div>
    <div class="signin__buttons">
        {{{ registerButton }}}
        {{{ logInButton }}}
    </div>
</form>
